absl-py==0.11.0
astunparse==1.6.3
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
conda==4.9.2
conda-build==3.20.5
conda-package-handling==1.7.2
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.2
echonet==1.0.0
filelock==3.0.12
future==0.18.2
gast==0.3.3
glob2==0.7
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imageio==2.8.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.1.0
libarchive-c==2.9
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
nibabel==3.2.1
numpy==1.18.2
oauthlib==3.1.0
opencv-python==4.2.0.32
opt-einsum==3.3.0
packaging==20.7
pandas==1.0.3
Pillow==7.0.0
pkginfo==1.6.1
planar==0.4
protobuf==3.14.0
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==20.0.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
SimpleITK==2.0.1
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
termcolor==1.1.0
torch==1.6.0
torchvision==0.5.0
tqdm==4.44.1
urllib3==1.26.2
vtk==9.0.1
Werkzeug==1.0.1
wrapt==1.12.1
